@model SignalRWebUI.Dtos.AboutDto.CreateAboutDto
@{
    ViewData["Title"] = "CreateAbout";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="content">
	<div class="container-fluid">
		<h4 class="page-title">About Page</h4>
		<div class="row">
			<div class="col-md-12">
				<form method="post">
					<div class="card">
						<div class="card-header">
							<div class="card-title">Add About</div>
						</div>
						<div class="card-body">
							<div class="form-group">
								<label for="imageurl">Image Url</label>
								<input type="text" class="form-control" asp-for="ImageUrl" id="imageurl">
							</div>
							<div class="form-group">
								<label for="title">Title</label>
								<input type="text" class="form-control" asp-for="Title" id="title">
							</div>
							<div class="form-group">
								<label for="description">Description</label>
								<input type="text" class="form-control" asp-for="Description" id="description">
							</div>
						</div>
						<div class="card-action">
							<input type="submit" class="btn btn-primary" value="Add About"></input>
						</div>
					</div>
				</form>
			</div>

		</div>
	</div>
</div>


